<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>To-Do List</title>
</head>
<body>
    <form action="/add" method="GET">
        <h1>To-Do List</h1>
        <h2>Add a new task</h2>
        <input type="text" name="name" placeholder="Name">
        <input type="text" name="desc" placeholder="Description">
        <input type="submit" value="Add">
    </form>
    <form action="/remove" method="GET">
        <h2>remove a  task</h2>
        <input type="text" name="name" placeholder="Name">
        <input type="submit" value="Remove">
    </form>
</body>
</html>